# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Production build
dist/
build/
dist-ssr/

# Local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional npm cache directory
.npm/

# Mac system files
*.DS_Store

# Temporary files
*.local
*.tmp
*.swp

# Firebase / Service account keys
scripts/serviceAccountKey.json

# Coverage reports (Jest, Cypress, etc.)
coverage/
cypress/videos/
cypress/screenshots/

# Misc
*.bak
*.orig
